
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantemiento</a></li>
    <li class="breadcrumb-item active">Productos</li>
</ol>

<div class="card">
    <div class="card-header">

        <i class="fas fa-boxes me-1"></i> Lista de Productos
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />
        <div class="table-responsive">


            <table id="tabla" class="display cell-border" style="width: 100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>No. de Referencia</th>
                        <th>Nombre</th>
                        <th>Descripcción</th>
                        <th>ID de Categoria</th>
                        <th>Material</th>
                        <th>Alto</th>
                        <th>Ancho</th>
                        <th>Profundidad</th>
                        <th>Color</th>
                        <th>Peso</th>
                        <th>ID Proveedor</th>
                        <th>Precio</th>
                        <th>Unidades</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        </div>
</div>



<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtIdProducto" type="text" value="0" />

                <form id="contenedor" class="row">

                    <div class="col-sm-3">
                        <div class="mb-2">
                            <img id="img_producto" height="197" width="200" class="border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="fileProducto" accept="image/png, image/jpg, image/jpeg" onchange="mostrarImagen(this)" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">No. de Referencia</label>
                            <input type="text" class="form-control" id="txtRef" name="PROD_REFERENCIA" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripcción</label>
                            <textarea type="text" class="form-control" id="txtDesc" name="PROD_DESCRIPCION" style="height:125px;resize:none"></textarea>
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" name="PROD_NOMBRE" autocomplete="off" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">ID Categoria</label>
                            <input type="number" class="form-control" id="txtCat" name="PROD_CATEGORIA_FK" autocomplete="off" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Material</label>
                            <input type="text" class="form-control" id="txtMat" name="PROD_MATERIAL" autocomplete="off" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Alto</label>
                            <input type="text" class="form-control" id="txtAlto" name="PROD_ALTO" autocomplete="off" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Ancho</label>
                            <input type="text" class="form-control" id="txtAncho" name="PROD_ANCHO" autocomplete="off" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Profundidad</label>
                            <input type="text" class="form-control" id="txtProf" name="PROD_PROFUNDIDAD" autocomplete="off" />
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Color</label>
                            <input type="text" class="form-control" id="txtColor" name="PROD_COLOR" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Peso</label>
                            <input type="text" class="form-control" id="txtPeso" name="PROD_PESO" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">ID Proveedor</label>
                            <input type="number" class="form-control" id="txtProv" name="PROD_PROVEEDOR" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Precio</label>
                            <input type="number" class="form-control" id="txtPrecio" name="PROD_PRECIO" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Unidades</label>
                            <input type="number" class="form-control" id="txtUni" name="PROD_UNIDADES" />
                        </div>
                    </div>

                </form>



                <!--Mensaje de alerta-->
                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeError" class="alert alert-danger" role="alert">
                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script defer>

        var tabladata;
        var filaSeleccionada;

        function mostrarImagen(input) {
            if (input.files) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#img_producto").attr("src",e.target.result).width(200).height(197)
                }

                reader.readAsDataURL(input.files[0]);
            }

        }



        tabladata = $("#tabla").DataTable({
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarProductos", "Mantenedor")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "PROD_ID_PK", "searchable": false },
                { "data": "PROD_REFERENCIA", "searchable": true },
                { "data": "PROD_NOMBRE", "searchable": false },
                { "data": "PROD_DESCRIPCION", "searchable": false },
                { "data": "PROD_CATEGORIA_FK", "searchable": false },
                { "data": "PROD_MATERIAL", "searchable": false },
                { "data": "PROD_ALTO", "searchable": false },
                { "data": "PROD_ANCHO", "searchable": false },
                { "data": "PROD_PROFUNDIDAD", "searchable": false },
                { "data": "PROD_COLOR", "searchable": false },
                { "data": "PROD_PESO", "searchable": false },
                { "data": "PROD_PROVEEDOR", "searchable": false },
                { "data": "PROD_PRECIO", "searchable": false },
                { "data": "PROD_UNIDADES", "searchable": false },
                {
                    "defaultContent": ' <button type="button" class="btn btn-sm btn-primary btn-editar"><i class="fas fa-pen"></i></button>' +
                        ' <button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar" id="eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }

        });


        function abrirModal(json) {

            $(".modal-header").css("background-color", "#1cc88a");
            $(".modal-header").css("color", "white");
            $(".modal-title").text("Nuevo Producto");

            $("#txtIdProducto").val(0);
            $("#img_producto").removeAttr("src");
            $("#fileProducto").val("");
            $("#txtRef").val("");
            $("#txtDesc").val("");
            $("#txtNombre").val("");
            $("#txtCat").val("");
            $("#txtMat").val("");
            $("#txtAlto").val("");
            $("#txtAncho").val("");
            $("#txtProf").val("");
            $("#txtColor").val("");
            $("#txtPeso").val("");
            $("#txtProv").val("");
            $("#txtPrecio").val("");
            $("#txtUni").val("");

            $("#mensajeError").hide();

            if (json != null) {

                $(".modal-header").css("background-color", "#4e73df");
                $(".modal-header").css("color", "white");
                $(".modal-title").text("Editar Producto");

                $("#txtIdProducto").val(json.PROD_ID_PK);
                $("#txtRef").val(json.PROD_REFERENCIA);
                $("#txtDesc").val(json.PROD_DESCRIPCION);
                $("#txtNombre").val(json.PROD_NOMBRE);
                $("#txtCat").val(json.PROD_CATEGORIA_FK);
                $("#txtMat").val(json.PROD_MATERIAL);
                $("#txtAlto").val(json.PROD_ALTO);
                $("#txtAncho").val(json.PROD_ANCHO);
                $("#txtProf").val(json.PROD_PROFUNDIDAD);
                $("#txtColor").val(json.PROD_COLOR);
                $("#txtPeso").val(json.PROD_PESO);
                $("#txtProv").val(json.PROD_PROVEEDOR);
                $("#txtPrecio").val(json.PROD_PRECIO);
                $("#txtUni").val(json.PROD_UNIDADES);



                 jQuery.ajax({
                    url: '@Url.Action("ImagenProducto", "Mantenedor")',
                    type: "POST",
                     data: JSON.stringify({ id : json.PROD_ID_PK}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                     success: function (data) {

                         $("#img_producto").LoadingOverlay("hide");

                        if (data.conversion) {
                            $("#img_producto").attr({ "src": "data:image/" + data.extension + ";base64," + data.textobase64 });
                        }
                    },
                    error: function (error) {
                        $("#img_producto").LoadingOverlay("hide");

                        $("#mensajeError").show();
                        $("#mensajeError").text("Error al mostrar imagen");

                    },
                    beforeSend: function () {
                        $("#img_producto").LoadingOverlay("show");
                    },
                });




            }

            $("#FormModal").modal("show");
        }


        $("#tabla tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data =  tabladata.row(filaSeleccionada).data();

            abrirModal(data)

        })



        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var productoseleccionado = $(this).closest("tr");

            var data = tabladata.row(productoseleccionado).data();


            swal({
                title: "Esta Seguro?",
                text: "¿Desea eliminar el producto?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {

                 jQuery.ajax({
                    url: '@Url.Action("EliminarProducto", "Mantenedor")',
                    type: "POST",
                     data: JSON.stringify({ id: data.PROD_ID_PK }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {


                        if (data.resultado) {

                            tabladata.row(productoseleccionado).remove().draw();
                        } else {

                            swal("No se pudo eliminar", data.mensaje, "error")
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });




            });


            console.log(data);

        })

        function Guardar() {

            if (!$("#contenedor").valid()) {
                return;
            }

            var ImagenSeleccionada = $("#fileProducto")[0].files[0];

            var Producto = {
                PROD_ID_PK: $("#txtIdProducto").val(),
                PROD_REFERENCIA: $("#txtRef").val(),
                PROD_NOMBRE: $("#txtNombre").val(),
                PROD_DESCRIPCION: $("#txtDesc").val(),
                PROD_CATEGORIA_FK: $("#txtCat").val(),
                PROD_MATERIAL: $("#txtMat").val(),
                PROD_ALTO: $("#txtAlto").val(),
                PROD_ANCHO: $("#txtAncho").val(),
                PROD_PROFUNDIDAD: $("#txtProf").val(),
                PROD_COLOR: $("#txtColor").val(),
                PROD_PESO: $("#txtPeso").val(),
                PROD_PROVEEDOR: $("#txtProv").val(),
                PROD_PRECIO: $("#txtPrecio").val(),
                PROD_UNIDADES: $("#txtUni").val(),
            }

            console.log(Producto);


            var request = new FormData();
            request.append("objeto", JSON.stringify(Producto));
            request.append("archivoImagen", ImagenSeleccionada);

           jQuery.ajax({
                url: '@Url.Action("GuardarProducto", "Mantenedor")',
                type: "POST",
               data: request,
               processData: false,
               contentType:false,
               success: function (data) {

                   $(".modal-body").LoadingOverlay("hide");

                    //PRODUCTO NUEVO
                   if (Producto.PROD_ID_PK == 0) {

                       if (data.idGenerado != 0) {

                            Producto.PROD_ID_PK = data.idGenerado;
                            tabladata.row.add(Producto).draw(false);
                            $("#FormModal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                    //PRODUCTO EDITAR
                    else {

                       if (data.operacionExitosa) {

                            tabladata.row(filaSeleccionada).data(Producto).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                           $("#mensajeError").show();
                           alert("operacion no exitosa")
                        }
                    }
                },
               error: function (error) {
                   console.log(error);
                   $(".modal-body").LoadingOverlay("hide");
                   $("#mensajeError").text("Error Ajax");
                   $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                }
            });




        }



    </script>


}


