@model CapaEntidad.MUEB_USUARIO

@{
    ViewBag.Title = "EMPLEADOX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Número de Documento</th>
                    <th>Tipo de Documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono Residencial</th>
                    <th>Célular</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Departamento</th>
                    <th>Pais</th>
                    <th>Profesion</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Crear Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-2">

                <input id="txtid" type="hidden" value="0" />



                <!-- CREAR EMPLEADO  -------------------------------------------------CAMBIAR-->
                <div class="row">
                    <div class="col-sm-6">
                        <label for="txtTipoDocumento" class="form-label">Tipo de Documento</label>
                        <input type="text" class="form-control" id="txtTipoDocumento">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtNumeroDocumento" class="form-label">Número de Documento</label>
                        <input type="number" class="form-control" id="txtNumeroDocumento">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtNombre">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="txtApellido">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtTelefono" class="form-label">Telefono Residencial</label>
                        <input type="number" class="form-control" id="txtTelefono">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtCelular" class="form-label">Célular</label>
                        <input type="number" class="form-control" id="txtCelular">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtDireccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="txtDireccion">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtCiudad" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="txtCiudad">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtDepartamento" class="form-label">Departamento</label>
                        <input type="text" class="form-control" id="txtDepartamento">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtPais" class="form-label">Pais</label>
                        <input type="text" class="form-control" id="txtPais">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtProfesion" class="form-label">Profesion</label>
                        <input type="text" class="form-control" id="txtProfesion">
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        var tabladata;

        jQuery.ajax({

            url: '@Url.Action("ListarUsuarios", "Home")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                console.log(data);
            }


        })


        tabladata = $("#tabla").Data


    </script>



    } 








