
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success">Crear Nuevo</button>
            </div>
        </div>
        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    @*<th>Direccion</th>
        <th>Telefono</th>*@
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

    </div>
</div>
@section scripts{
    var tabladata;



    <script defer>
        jQuery.ajax({
            url: '@Url.Action("ListarUsuarios", "Home")',
            type: "GET",
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            sucess: function (data) {
                console.log(data)
            }
        })

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarUsuarios", "Home")',
                type: "GET",
                datatype: "json"
            },
            "columns": [
                { "data": "NOMBRECOMPLETO" },
                { "data": "IDDEPARTAMENTO" },
                
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm">  <i class="fas fa-pen me-1"></i> </button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2">  <i class="fas fa-trash me-1"></i> </button>',
                    "orderable": false,
                    "searchable": false,
                    "width":"90px"

            }
            ]



        });


    </script>
    }
    